<%= link_to community_path(community) do %>
  <div class="max-w-sm rounded overflow-hidden shadow-lg hover:shadow-xl transition-all duration-300 cursor-pointer">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= "r/#{community.name}" %> </div>
      <p class="text-gray-700 text-base">
        <span class="font-semibold">URL:</span> <%= community.url %>      
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
    </div>
  </div>
<% end %>