<div class="border-b border-gray-900/10 pb-12">
  <h2 class="text-base/7 font-semibold text-gray-900">New Community</h2>
  <p class="mt-1 text-sm/6 text-gray-600">
    Create a new community
  </p>

  
  <%= render partial: "form" %>
</div>
