<div class="content-container mt-4">
  <h2 class="text-2xl font-semibold text-gray-900">New Community</h2>
  <p class="mt-1 text-sm/6 text-gray-600">
    Create a new community
  </p>

  
  <%= render partial: "form" %>
</div>

