<div class="content-container">
  <h2 class="text-base/7 font-semibold text-gray-900"><%= @community.name %></h2>
  <p class="mt-1 text-sm/6 text-gray-600">
    URL: <%= @community.url %>
  </p>

  <h4>Rules:</h4>
  <p><%= @community.rules %></p>
</div>